<table>

    <tr>
        <td>Personal Details</td>
    </tr>
    
    <tr>
        <td>Hall Ticket No.</td>
        <td><%= Rollno %></td> 
        <td>Gender</td>
        <td><%=gender%></td>
    </tr>
    <tr>
        <td>Name</td> 
        <td><%=Name%></td>  
        <td>Semister</td> 
        <td>VI</td>
    </tr>
   

    <tr>
        <td>Marks Details</td>
    </tr>
    <tr>
        <td>Sub Code</td>
        <td>Subject Name</td>
        <td>Credits</td>
        <td>Grade Points</td>
        <td>Grade Secured</td>
    </tr>

   <tr>
    <td>PC501CS</td>
    <td>Software Engineering</td>
    <td>3</td>
    <td><%= point[0] %></td>
    <td><%= grade[0] %></td>
   </tr>
   
   <tr>
   <td>PC551CS</td>
   <td>Software Engineering Lab</td>
   <td>1</td>
   <td><%= point[1] %></td>
   <td><%= grade[1] %></td>
  </tr>

   <tr>
    <td>PC504CS</td>
    <td>Artificial Intelligence</td>
    <td>3</td>
    <td><%= point[2] %></td>
    <td><%= grade[2] %></td>
   </tr>

   <tr>
    <td>PC502CS</td>
    <td>Principles of Programming lang</td>
    <td>3</td>
    <td><%= point[3] %></td>
    <td><%= grade[3] %></td>
   </tr>

   <tr>
    <td>PE516CS</td>
    <td>Blockchain Technology</td>
    <td>3</td>
    <td><%= point[4] %></td>
    <td><%= grade[4] %></td>
   </tr>

   <tr>
    <td>PC552CS</td>
    <td>Artificial Intelligence Lab</td>
    <td>1</td>
    <td><%= point[5] %></td>
    <td><%= grade[5] %></td>
   </tr>
   
   <tr>
    <td>PC553CS</td>
    <td>Computer Networks Lab</td>
    <td>1</td>
    <td><%= point[6] %></td>
    <td><%= grade[6] %></td>
   </tr>

   <tr>
    <td>PC505CS</td>
    <td>Computer Networks</td>
    <td>3</td>
    <td><%= point[7] %></td>
    <td><%= grade[7] %></td>
   </tr>
   
   <tr>
    <td>PC503CS</td>
    <td>Automata Lang & Computation</td>
    <td>3</td>
    <td><%= point[8] %></td>
    <td><%= grade[8] %></td>
   </tr>


</table>